*-debug.log
*-error.log
.oclif.manifest.json.idea/
node_modules/
**/node_modules/
.node_modules/
**/dist/
yarn.lock
**/yarn-error.log
yarn-error.log
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
.vscode